@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: Azeret Mono;
}
/* Header style */
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}
nav h1{
    font-size: 30px;
}
nav button{
    width: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
.banner-content{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../assets/Hero-bg.png);
}
.banner-item{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
}
.banner-title{
    color:rgb(13, 19, 33);
    font-size: 39px;
    margin: 24px 0;
  text-align: center;
}
p{
    color:rgb(13, 19, 33) ;
    font-size: 14px;
    margin: 24px 0;
    text-align: center;
}
/* button style */
.banner-btn{
    width: 208px;
    height: 66px;
    background:rgb(13, 19, 33) ;
    margin: 30px;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
}
.banner-btn h4{
    color: rgb(255, 255, 255);
}
/* web development style */

.web-development-section{
    width: 1140px;
    height: 1260px;
    margin:  24px auto;
    padding:px 90px 75px 90px ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.development-heading{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.wed-development-title{
    color:rgb(13, 19, 33);
    font-size: 28px;
}
/* web explore style */

.explore-part{
    width: 946px;
    height: 940px;
    margin: o auto;
    margin-top: 35px;
    padding:35px;
}
.explore-part h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.explore-part p{
    color:rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
}
.explore-part button{
    width: 140px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.explore--first-part{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.first-part-description{
    width: 477px;
    height: 219px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.explore--second-part{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}
.second-part-description{
    width: 477px;
    height: 219px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.explore--third-part{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.third-part-description{
    width: 477px;
    height: 219px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
/* inspiration-part style */

.inspiration-part{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}
.inspiration-title{
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
}
.inspiration-title h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
}
.inspiration-title p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    text-align: center;
}
.inspiration-video{
    width: 1140px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
}
/* target content style */

.target-content{
    width: 1140px;
    height: 1437px;
    border: 2px solid red;
    margin: 0 auto;
}
.target-title{
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
}
.target-title h2{
    color: rgb(13, 19, 33);
    font-size: 32px;

}
.target-title p{
    width: 852px;
    height: 52px;
    font-size: 16px;
   
}
.target-image-content{
    width: 1140px;
    height: 299px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 90px;
}
.target-image-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    text-align: left;

}
.first-target{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin: 0px 24px;
    padding: 40px;
    
}
.second-target{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin: 0px 24px;
    padding: 40px;
    
}
.third-target{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background:rgba(255, 223, 0, 0.05);
    margin:0px 24px;
    padding: 40px;
    
}
.target-image-content a{
    color: #000;
}
